{
  "founders_version": false,
  "special_version_mode": false,
  "development_mode": true,
  "firebase_api_key_android": "<YOUR_FIREBASE_ANDROID_API_KEY>",
  "firebase_api_key_ios": "<YOUR_FIREBASE_IOS_API_KEY>",
  "cloud_functions_base_url": "<https://YOUR_PROJECT.cloudfunctions.net>",
  "banner_ad_id": "<YOUR_ADMOB_BANNER_AD_ID>",
  "interstitial_ad_id": "<YOUR_ADMOB_INTERSTITIAL_AD_ID>",
  "app_open_ad_id": "<YOUR_ADMOB_APP_OPEN_AD_ID>",
  "rewarded_ad_id": "<YOUR_ADMOB_REWARDED_AD_ID>",
  "native_ad_id": "<YOUR_ADMOB_NATIVE_AD_ID>",
  "one_signal_app_id": "<YOUR_ONESIGNAL_APP_ID>",
  "revenue_cat_api_key_android": "<YOUR_REVENUECAT_ANDROID_API_KEY>",
  "posthog_api_key": "<YOUR_POSTHOG_API_KEY>",
  "feed_back_nest_api_key": "<YOUR_FEEDBACK_NEST_API_KEY>"
}
